<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
        <title>0LD5P34K</title>
    </head>
    <body>
      <script>
       console.log((function(container) {
         var w1n5t0n = {
           '01d5p34k70kN': '{{ oldspeak_token }}',
           's33d': '{{ seed }}',
           'path': '{{ path }}',
         };
         container['w1n5t0n'] = w1n5t0n;
         return {'w1n5t0n': w1n5t0n};
       })(window));
      </script>
      <script src="/s/01d5p34k.1.js?{{ seed }}"></script>
        <!-- <script type="text/javascript" charset="utf-8"> -->
        <!-- </script> -->

        <div class="container" id="app-container">
            <div class="panel panel-default">
                <div class="panel-body">
                    <center>
                        <h3>loading...</h3>
                    </center>
                </div>
            </div>
        </div>
    </body>
</html>
